In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*
'hello'
-87.8
-
/
+
6

In [ ]:
Ans: * - Mathematical Operator
'hello' - string
-87.8 - Negative Integer
-  -  Mathematical Operator
/ - Mathematical Operator
+ - Mathematical Operator
6 - Integer

In [ ]:
2. What is the difference between string and variable?

In [ ]:
Ans: (1) A string is a sequence of characters enclosed within quotes. It can be represented using single ('...'), double ("..."),
or triple quotes ('''...''' or """...""").

(2) Strings are used to store and manipulate text data.
(3) Example of a string:

"Hello, World!"
'Python is fun!'

In [ ]:
3. Describe three different data types.

In [ ]:
Ans: 1. Integer (int)
(i) Represents whole numbers without a fractional component. Examples: 10, -3, 42
(ii) Use: For counting, indexing, mathematical operations where only whole numbers are needed.
(iii) Example in code: age = 25


2. Float (float)
(i) Represents numbers with a decimal point (fractional component). Examples: 3.14, -0.5, 2.71828
(ii) Use: For calculations that require precision, like measurements, scientific data, or financial calculations.
(iii) Example in code: temperature = 98.6


3. String (str)
(i) Represents a sequence of characters, used for text data. Examples: "Hello, World!", 'Python 3.9'
(ii) Use: For storing and manipulating text, such as names, sentences, or any data that requires textual representation.
(iii) Example in code: name = "Alice"

In [ ]:
4. What is an expression made up of? What do all expressions do?

In [ ]:
Ans: (1) An expression in Python is a combination of variables, values, operators, and function calls that, when evaluated, produces a single value. 
It can be as simple as a single constant like 5 or as complex as a mathematical formula like (x + y) * z. 

(2) Expressions can include arithmetic operators (e.g., +, -, *, /), comparison operators (e.g., >, <, ==), 
logical operators (e.g., and, or, not), and even function calls that return a value. 

(3) The purpose of an expression is to compute or derive a value from the given inputs, such as assignments or control flow statements. 
For instance, in the expression 3 + 4, the result is 7, which is the value produced by adding 3 and 4.

(4) Ultimately, all expressions are evaluated to yield a value, making them fundamental building blocks in programming 
for performing calculations, making decisions, and controlling the flow of a program.

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
Ans: The difference between an expression and a statement in Python is fundamental to understanding how code executes:

(a) Expression : (i) An expression is a combination of values, variables, operators, and function calls that the Python interpreter can evaluate to produce a single value. For example, 2 + 3, len("hello"), or x * y are all expressions.
Expressions always yield a value. They are often used in places where a value is needed, such as in assignments, function arguments, or conditions.

(b) Statements : Statements don't produce a value, and so they can't be used as function arguments.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon = 22

In [5]:
bacon + 1

23

In [ ]:
After running the following code, the variable bacon will contain value 23.

In [ ]:
7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam'* 3

In [7]:
'spam' + 'spamspam'

'spamspamspam'

In [9]:
'spam'* 3

'spamspamspam'

In [ ]:
Ans: The value of the following two terms be spamspamspam.

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid ?

In [ ]:
Ans: Eggs is a valid variable name because it does not violate the rule of not starting letters with a digit or a number.
In comparision to eggs, 100 is invalid because it is a number that starts with a digit that is it violates the rule.

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value ?

In [ ]:
Ans: The int(), float() and str() functions can be used to get the integer, floating-point number, or string version of a value.

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

In [29]:
'I have eaten' +  99  +'burritos.'

TypeError: can only concatenate str (not "int") to str

In [ ]:
Ans: The expression 'I have eaten' + 99 + 'burritos' can concatenate only string values not int values. To fix
this error. We can put 99 into string and then:

In [31]:
'I have eaten' + ' 99 ' +'burritos.'

'I have eaten 99 burritos.'